{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Votre Panier</h2>
    <div class="row">
        {% for order in orders %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ order.product.image.url }}" class="card-img-top" alt="{{ order.product.name }}" style="max-height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">{{ order.product.name }}</h5>
                    <p class="card-text">{{ order.quantity }} dans le panier</p>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'delete_article' order.id %}" class="btn btn-danger">Supprimer cet article</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
   
</div>
{% endblock %}
