{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row" id="product_container">
       <!--les produits seront affichés ici-->  
    </div>
</div>

<script type="text/javascript" >
    $(document).ready(function() {
       setInterval(function(){
        $.ajax({
            type:'GET',
            url:'{% url "getdata" %}',
            success: function(response){
                //console.log(response);
                $('#product_container').html(response.html);

            },
            error: function(response){
                alert('erreur....');
            }
        })
       },2000)
    });
</script>
{% endblock %}
