{% extends 'base.html' %}

{% block content %}

<input type="hidden" id="page-type" value="personal">

<h1 class="my-4 text-center">Mes Produits</h1>

<div class="container">
 
    <div class="mb-4 text-center">
        <a href="{% url 'form_product' %}" class="btn btn-primary">Poster un Produit</a>
    </div>

    <div class="container">
        <div class="row" id="product_container">
           <!--les produits seront affichés ici-->  
        </div>
    </div>
    
    <script type="text/javascript" >
       
        $(document).ready(function() {
            function updateProducts() {
                // Vérifier le statut de recherche global
                if (!window.isSearching) {
                    $.ajax({
                        type: 'GET',
                        url: '{% url "getdataU" %}',
                        success: function(response) {
                            $('#product_container').html(response.html);
                        },
                        error: function() {
                            alert('Erreur lors de la mise à jour des produits.');
                        }
                    });
                }
            }

            let updateInterval = setInterval(updateProducts, 1000);

            // Mettre à jour le statut de la recherche
            document.addEventListener('DOMContentLoaded', function() {
                const searchInput = document.getElementById('search-input');

                if (searchInput) {
                    searchInput.addEventListener('input', function() {
                        const query = searchInput.value.trim();
                        window.isSearching = query.length > 0;

                        // Si la recherche est active, arrêter le rechargement automatique
                        if (window.isSearching) {
                            clearInterval(updateInterval);
                        } else {
                            // Reprendre le rechargement automatique si la recherche est désactivée
                            updateInterval = setInterval(updateProducts, 1000);
                        }
                    });
                }
            });
        });
        </script>
{% endblock %}
